<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ partial "breadcrumbs.html" . }}

    <div class="padding-container main-content">
      <div class="sidebar-container">
        <div class="content">
          <div id="post-content">
            <div class="anxiconletterindex">
              {{ $targetSection := .CurrentSection }}
              {{ $currentPage := .Page }}

              {{ if .NextInSection }}
                <a href="{{ .NextInSection.Permalink }}">&lt;</a>
              {{ end }}

              {{ $indexScratch := newScratch }}
              {{ $indexScratch.Set "counter" 1 }}
              {{ $indexScratch.Set "activeIndex" 1 }}

              {{ range .Site.Pages }}
                {{ if and (.InSection $targetSection) (eq .Kind "page") }}
                  {{ $active := eq $currentPage . }}
                  {{ $index := $indexScratch.Get "counter" }}
                  {{ $indexScratch.Set "counter" (add $index 1) }}
                  {{ if $active }}
                    {{ $indexScratch.Set "activeIndex" $index }}
                  {{ end }}
                {{ end }}
              {{ end }}

              {{ $lastIndex := sub ($indexScratch.Get "counter") 1 }}
              {{ $activeIndex := $indexScratch.Get "activeIndex" }}
              {{ $firstVisibleIndex := sub $activeIndex 2 }}
              {{ $lastVisibleIndex := add $activeIndex 2 }}

              {{ if lt $firstVisibleIndex 1 }}
                {{ $lastVisibleIndex = add $lastVisibleIndex (add 1 (mul $firstVisibleIndex -1)) }}
              {{ end }}

              {{ if gt $lastVisibleIndex $lastIndex }}
                {{ $firstVisibleIndex = sub $firstVisibleIndex (sub $lastVisibleIndex $lastIndex) }}
              {{ end }}

              {{ $indexScratch.Set "counter" 1 }}
              {{ range .Site.Pages }}
                {{ if and (.InSection $targetSection) (eq .Kind "page") }}
                  {{ $index := $indexScratch.Get "counter" }}
                  {{ $active := eq $index $activeIndex }}
                  {{ $indexScratch.Set "counter" (add $index 1) }}

                  {{ $visible := and (gt $index (sub $firstVisibleIndex 1)) (lt $index (add $lastVisibleIndex 1)) }}
                  {{ $visible := or ($visible) (or (eq $index 1) (eq $index $lastIndex)) }}

                  {{ if $visible }}
                    <a href="{{ .Permalink }}" {{ if $active }}class="active"{{ end }}>{{ $index }}</a>
                  {{ end }}
                {{ end }}
              {{ end }}

              {{ if .PrevInSection }}
                <a href="{{ .PrevInSection.Permalink }}">&gt;</a>
              {{ end }}
            </div>

            <img src="{{ .Params.image }}">
            <p>{{ .Params.description }}</p>
          </div>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
