<div class="sidebar-panel">
  <h3>{{ i18n "categoriesTitle" }}</h3>

  {{ $pageLink := .Page.Permalink }}

  <ul class="category-list">
    {{ range $name, $items := .Site.Taxonomies.categories }}
    {{ $active := gt (where $items ".Permalink" $pageLink | len) 0 }}
      <li>
        <a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}" {{ if $active }}class="active"{{ end }}>
          <i class="fa fa-archive"></i>{{ $name | humanize | title }}
        </a>
      </li>
    {{ end }}
  </ul>
</div>
